torch==2.9.1
datasets
evaluate
accelerate
transformers==4.57.3
sentencepiece
huggingface_hub
scikit-learn
tiktoken
mixlora>=0.2.2,<0.3.0
gradio
peft==0.17.1
pandas
fire
black
black[jupyter]
isort
flake8
notebook
ipywidgets